body {
    color: #fff;
    background: url(images/Bg-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
/*Title*/
#header {
    color: #fff;
    text-align: center;
    font-size: 7vw;
}

/* Lap */
#lap {
    color: #fff;
    text-align: right;
    font-size: 4vw;
}

/* Main Time */
#time {
    color: #fff;
    text-align: center;
    font-size: 10vw;
}

/* Controls */
#controlsContainer {
    margin-bottom: 100px;
}

.control {
    color: #fff;
    background-color: #d7a04e;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    text-align: center;
    padding: 25% 0;
    font-size: 2.5vw;
    cursor: pointer;
}

.control:active {
    background-color: #fff;
    color: #d7a04e;
}

/* LapBox */
#lapBox {
    color: white;
    max-height: 270px;
    overflow-y: scroll;
}

.lap {
    height: 50px;
    border-bottom: 1px solid #fff;
    margin: 15px;
}

.lapTitle {
    font-size: 1.5em;
    float: left;
}

.lapTime {
    font-size: 2em;
    float: right;
}



